profiles {
  local {
    process.executor = 'local'
    process.conda = 'environment.yml'
  }
  slurm {
    process.executor = 'slurm'
    process.conda = 'environment.yml'
    singularity.enabled = true
  }
}

conda {
  enabled = true
  useMicromamba = false
}

params {
  caseStudy    = 'synthetic'          // or 'tsunami_tokushima'
  outDir       = 'results'
}