// Main pipeline parameters
params {
  caseStudy    = 'synthetic'                  // or 'tsunami_tokushima'
  outDir       = 'results'
  useGPU       = false                        // Set to true to use GPU for training
}

// Include configuration files
includeConfig 'conf/profiles.config'
includeConfig 'conf/conda.config'
includeConfig 'conf/datasets.config'