profiles {
  local {
    process.executor = 'local'
    process.conda = params.useGPU ? "environment_cuda.yml" : "environment_cpu.yml"
  }
  
  slurm {
    process.executor = 'slurm'
    process.conda = params.useGPU ? "environment_cuda.yml" : "environment_cpu.yml"
    singularity.enabled = true
    process {
      withName: 'evaluate_dkl|evaluate_exactgp' {
        clusterOptions = { params.useGPU ? '--gres=gpu:1' : '' }
      }
    }
  }
} 