profiles {
  local {
    process.executor = 'local'
    process.conda = 'environment.yml'
  }
  
  slurm {
    process.executor = 'slurm'
    process.conda = 'environment.yml'
    singularity.enabled = true
    // GPU configuration for SLURM
    process {
      withName: 'evaluate_dkl|evaluate_exactgp' {
        clusterOptions = { params.useGPU ? '--gres=gpu:1' : '' }
      }
    }
  }
} 